@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Work+Sans:wght@400;700&display=swap");
.container {
  padding: 0 calc(50vw - 585px);
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 calc(50vw - 480px);
  }
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0 calc(50vw - 365px);
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 calc(50vw - 270px);
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

@-webkit-keyframes rotateSquare {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateSquare {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

ul,
ol,
dl {
  list-style-type: none;
  padding-left: 0;
}

* a {
  cursor: url(../img/cursor.png) 2 2, pointer;
  text-decoration: none;
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}
@media screen and (max-width: 576px) {
  .header__flex {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.nav {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
@media screen and (max-width: 768px) {
  .nav {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
}
.nav__burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav__burger:checked ~ .menu {
    top: 70px;
    font-size: 30px;
  }
  .nav__burger:checked ~ .nav__burger-img {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav__burger:checked ~ .nav__burger-img::before {
    opacity: 0;
  }
  .nav__burger:checked ~ .nav__burger-img::after {
    top: 0px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
.nav__burger-img {
  display: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media screen and (max-width: 768px) {
  .nav__burger-img {
    display: inline-block;
    width: 35px;
    height: 2px;
    position: relative;
    top: 0;
    right: 0;
    background: #9C69E2;
    vertical-align: middle;
  }
  .nav__burger-img::before, .nav__burger-img::after {
    content: "";
    position: absolute;
    top: 9px;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #9C69E2;
  }
  .nav__burger-img::after {
    top: -9px;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media screen and (max-width: 768px) {
  .nav__list {
    position: absolute;
    top: -100%;
    right: 0;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    gap: 0;
    z-index: 5;
  }
  .nav__list.active {
    right: 0;
  }
}
.nav__item {
  padding-left: 40px;
}
@media screen and (max-width: 768px) {
  .nav__item {
    margin: 0;
    padding: 30px 25px;
    width: 85%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
    border: #fff solid 3px;
    background: -o-linear-gradient(45deg, #9C69E2, hsl(0deg, 0%, 100%));
    background: linear-gradient(45deg, #9C69E2, hsl(0deg, 0%, 100%));
    color: #fff;
    text-align: center;
  }
}
.nav__link {
  color: #4B5D68;
  font-weight: 500;
}
.nav__link:hover {
  color: #8A40EE;
}
.nav__link:active {
  color: red;
  text-shadow: 0px 10px 10px rgba(250, 2, 2, 0.1);
}

.arrow svg {
  stroke: #9C69E2;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 210px;
  min-height: 60px;
  border: #9C69E2 solid 1px;
  border-radius: 50px;
  background: white;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #212353;
  z-index: 4;
}
@media screen and (max-width: 576px) {
  .btn {
    margin-top: 35px;
    -ms-flex-preferred-size: 96%;
        flex-basis: 96%;
  }
}
.btn:hover {
  cursor: url(../img/cursor.png) 2 2, pointer;
  background: #9C69E2;
  color: white;
}
.btn:hover .arrow svg {
  stroke: white;
  -webkit-animation: rotateSquare linear 3s infinite;
          animation: rotateSquare linear 3s infinite;
}
.btn:active {
  -webkit-box-shadow: 0px 10px 10px rgba(250, 2, 2, 0.1);
          box-shadow: 0px 10px 10px rgba(250, 2, 2, 0.1);
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 8.5rem;
}
@media screen and (max-width: 1200px) {
  .block {
    margin-top: 3rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .block {
    margin-top: 1rem;
  }
}
.block__info {
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .block__info {
    width: 100%;
  }
}
.block__title {
  font-family: "Work Sans", sans-serif;
  font-size: 4.9rem;
  line-height: 5.5rem;
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
  -webkit-margin-after: 3.2rem;
          margin-block-end: 3.2rem;
}
@media screen and (max-width: 992px) {
  .block__title {
    font-size: 3rem;
    line-height: 3rem;
  }
}
.block__text {
  width: 62%;
  font-size: 1.1rem;
  line-height: 2.2rem;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 3.2rem;
          margin-block-end: 3.2rem;
}
@media screen and (max-width: 1200px) {
  .block__text {
    width: 100%;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .block__text {
    -webkit-margin-after: 4rem;
            margin-block-end: 4rem;
  }
}
.block__picture {
  width: 50%;
  position: absolute;
  top: 82px;
  left: 400px;
}
@media screen and (max-width: 1200px) {
  .block__picture {
    width: 80%;
    position: unset;
    margin-top: 0rem;
  }
}
@media screen and (max-width: 1200px) {
  .block__img {
    width: 100%;
    position: unset;
    margin-top: 3rem;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 1200px) {
  .storage__title {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .storage__title {
    margin-top: 30px;
  }
}

.btn__storage {
  background: #9C69E2;
  color: white;
}
@media screen and (max-width: 768px) {
  .btn__storage {
    position: relative;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 45px;
  }
}
.btn__storage:hover {
  background: #8A40EE;
}

.bank {
  background: #FDE8F5;
  border-radius: 50px;
  position: relative;
  min-height: 560px;
}
@media screen and (max-width: 1200px) {
  .bank {
    margin-top: 3rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.bank__picture {
  position: unset;
}
@media screen and (max-width: 1200px) {
  .bank__picture {
    width: 60%;
  }
}
.bank__img {
  width: 100%;
  margin: 20px;
}
@media screen and (max-width: 1200px) {
  .bank__img {
    margin: 0;
  }
}
.bank__info {
  width: 85%;
  margin-left: 130px;
}
@media screen and (max-width: 1200px) {
  .bank__info {
    margin: 20px;
  }
}
.bank__title {
  font-size: 2.5rem;
  line-height: 3.2rem;
  -webkit-margin-before: 7rem;
          margin-block-start: 7rem;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .bank__title {
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  .bank__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.bank__text {
  width: 85%;
}
@media screen and (max-width: 1200px) {
  .bank__text {
    width: 100%;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1200px) {
  .features {
    justify-items: center;
  }
}
.features__title {
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .features__title {
    margin-top: 40px;
  }
}
.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__text {
  width: 60%;
  text-align: center;
  -webkit-margin-after: 0rem;
          margin-block-end: 0rem;
}
@media screen and (max-width: 1200px) {
  .features__text {
    margin-top: 0;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  grid-template-rows: repeat(2, minmax(50%, 1fr));
  margin-top: 80px;
  justify-items: end;
  row-gap: 30px;
}
@media screen and (max-width: 1200px) {
  .cards {
    justify-items: center;
  }
}
@media screen and (max-width: 992px) {
  .cards {
    margin-top: 50px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 60px;
    justify-items: center;
  }
}

.card {
  display: block;
  max-width: 400px;
  min-width: 300px;
  height: 400px;
  margin-top: 0rem;
  position: relative;
  background: #F0FAF9;
  border-radius: 50px;
}
@media screen and (max-width: 576px) {
  .card {
    min-height: 460px;
  }
}
.card::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  left: -40%;
  width: 240px;
  height: 180px;
  background: url(../img/card-image_data.png) no-repeat;
  z-index: 4;
}
@media screen and (max-width: 1200px) {
  .card::before {
    top: -20%;
    -webkit-transform: translatey(-50%);
        -ms-transform: translatey(-50%);
            transform: translatey(-50%);
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    left: -20%;
  }
}
@media screen and (max-width: 576px) {
  .card::before {
    top: -90px;
    left: 20%;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
}
.card__info {
  width: 60%;
  margin-left: 100px;
  margin-top: 60px;
}
@media screen and (max-width: 576px) {
  .card__info {
    margin-left: 60px;
  }
}
.card__title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  -webkit-margin-after: 1.2rem;
          margin-block-end: 1.2rem;
  position: relative;
  z-index: 3;
}
.card__text {
  width: 100%;
  position: relative;
  z-index: 3;
}
.card__btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 576px) {
  .card__1 {
    margin-top: 50px;
  }
}
.card__1::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 40%;
  width: 50%;
  height: 50%;
  background: url(../img/cards/card_lines/bg-image_1.png) no-repeat;
}

.card__2 {
  background: #F6F0FD;
}
.card__2::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 55%;
  left: 40%;
  width: 55%;
  height: 50%;
  background: url(../img/cards/card_lines/bg-image_2.png) no-repeat;
}
.card__2::before {
  background: url(../img/card-image_access.png) no-repeat;
}

.card__3 {
  background: #FEF0F8;
}
.card__3::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 78%;
  width: 17%;
  height: 15%;
  background: url(../img/cards/card_lines/bg-image_3.png) no-repeat;
}
.card__3::before {
  background: url(../img/card-image_print.png) no-repeat;
}

.card__4 {
  background: #EAF6FC;
}
.card__4::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 4%;
  width: 90%;
  height: 90%;
  background: url(../img/cards/card_lines/bg-image_4.png) no-repeat;
}
.card__4::before {
  background: url(../img/card-image_security.png) no-repeat;
}

.test {
  min-width: 300px;
  min-height: 500px;
  background: #CCDDFF;
  padding-top: 80px;
  margin-top: 120px;
}
.test::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: url(../img/test_bg.png) no-repeat;
}
@media screen and (max-width: 1200px) {
  .test {
    margin-top: 50px;
  }
}
.test__title {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  color: #4B5D68;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 1200px) {
  .test__title {
    width: 100%;
  }
}

.people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}
@media screen and (max-width: 1200px) {
  .people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }
}
.people__he {
  width: 40%;
  height: auto;
  background: white;
  border-radius: 50px;
  border: 1px solid #9C69E2;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .people__he {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .people__he {
    margin-top: 30px;
  }
}
.people__he::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 30px;
  width: 90px;
  height: 90px;
  background: url(../img/he.png) no-repeat;
  border-radius: 50%;
  border: 1px solid #9C69E2;
}
@media screen and (max-width: 576px) {
  .people__he::before {
    top: -45px;
    left: 50%;
    -webkit-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
            transform: translatex(-50%);
    width: 90px;
    height: 90px;
  }
}

.he__info,
.she__info {
  padding: 0 30px 15px 135px;
}
@media screen and (max-width: 576px) {
  .he__info,
.she__info {
    padding: 0 30px 15px 30px;
  }
}
.he__title,
.she__title {
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.he__link,
.she__link {
  font-size: 14px;
  color: #9C69E2;
}

@media screen and (max-width: 1200px) {
  .she {
    margin-bottom: 30px;
  }
}
.she::before {
  background: url(../img/she.png) no-repeat;
}

.free {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
  margin-bottom: 100px;
}
@media screen and (max-width: 992px) {
  .free {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 992px) {
  .free__info {
    margin-bottom: 50px;
    text-align: center;
  }
}
.free__title {
  color: #212353;
  font-size: 40px;
  font-family: "Work Sans", sans-serif;
}
.free__text {
  font-size: 18px;
  color: #4B5D68;
}
.free__btn {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .free__btn {
    min-width: 300px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.free__btn_first {
  background: #F063B8;
  border: none;
  color: white;
}
.free__btn_first:hover {
  background: #EB4BAB;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.contact__adress {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .contact__adress {
    width: 100%;
  }
}
.contact__adress_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 60px;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .contact__adress_container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 70px;
  }
}
@media screen and (max-width: 768px) {
  .contact__adress_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact__about {
  width: 18%;
}
@media screen and (max-width: 768px) {
  .contact__about {
    width: 50%;
    text-align: center;
    margin-top: 30px;
  }
}
.contact__media {
  width: 15%;
}
@media screen and (max-width: 768px) {
  .contact__media {
    width: 100%;
    margin-top: 30px;
    min-width: 300px;
  }
}

.adress__company {
  font-size: 20px;
  font-weight: 600;
}
.adress__text {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .adress__text {
    width: 100%;
    text-align: center;
  }
}
.adress__street {
  font-weight: 500;
  margin-top: 0;
}
.adress__CR {
  margin-top: 100px;
  font-size: 12px;
  width: 100%;
}

.about__title {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 30px;
}
.about__item {
  padding-bottom: 10px;
  font-weight: 500;
}
.about__link:hover {
  color: #8A40EE;
}

@media screen and (max-width: 1200px) {
  .media__title {
    text-align: center;
  }
}
.media__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1200px) {
  .media__svg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .media__svg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.facebook:hover .circle {
  fill: #3B5998;
  opacity: 1;
}
.facebook:hover .circle_1 {
  fill: white;
  opacity: 1;
}
.facebook:hover .path {
  fill: #3B5998;
}

.twitter:hover .circle {
  fill: #00ACEE;
  opacity: 1;
}
.twitter:hover .circle_1 {
  fill: white;
  opacity: 1;
}
.twitter:hover .path {
  fill: #00ACEE;
}

.insta:hover .circle {
  fill: #C13584;
  opacity: 1;
}
.insta:hover .circle_1 {
  fill: white;
  opacity: 1;
}
.insta:hover .path {
  fill: #C13584;
}/*# sourceMappingURL=main.css.map */