
$font_family_1: 'Montserrat', sans-serif;
$font_family_2: 'Open Sans', sans-serif;
$font_family_3: 'Source Sans Pro', sans-serif;

$font_size_main: 18px;
$font_color_main: #2C4058;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;